config/mpv/watch_later/
config/fish/fishd.*
config/fish/fish_variables
config/fish/conf.d/virtualfish-loader.fish
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/ranger/plugins
config/Thunar/accels.scm
config/nvim/autoload
config/nvim/plugged
config/nvim/.*
